.header {
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
    to left,
    $LightRedGradient 10%,
    $VeryLightRedGradient
  );
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 5rem;
  border-radius: 0 0 0 80px;
}

.header-image {
  position: absolute;
  top: -150%;
  right: -50%;
  height: 200rem;
  z-index: -5;
}

.navigation-line {
  z-index: 5;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  font-family: "Ubuntu", sans-serif;
  color: $White;
  font-size: 1.6rem;
  margin-left: 8rem;

  li {
    list-style-type: none;
  }
  .chevron_down {
    margin-left: 1rem;
  }
  .navigation-section {
    @include flex-center(2rem);
  }

  .login-section {
    @include flex-center(2rem);
  }
}

button {
  @include button-reset;
}

.cta-btn {
  background-color: $White;
  padding: 1.2rem 3.5rem;
  border-radius: 9999px;
  color: $LightRed;
}

.hero-content {
  @include flex-center(0rem);
  flex-direction: column;
  font-family: "Overpass", sans-serif;
  color: $White;
  z-index: 10;
  height: 80%;

  h1 {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 300;
  }

  .hero-btn-section {
    @include flex-center(2rem);
    font-size: 1.8rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
  }

  .options-btn {
    border: 2px solid $White;
    padding: 1.2rem 3.5rem;
    border-radius: 9999px;
    color: $White;
  }
}
