@mixin flex-center($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin button-reset {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@mixin box-shadow {
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.3);
}
