$LightRed: hsl(356, 100%, 66%);
$VeryLightRed: hsl(355, 100%, 74%);
$VeryDarkBlue: hsl(208, 49%, 24%);

$White: hsl(0, 0%, 100%);
$GrayishBlue: hsl(240, 2%, 79%);
$VeryDarkGrayishBlue: hsl(207, 13%, 34%);
$VeryDarkBlackBlue: hsl(240, 10%, 16%);

$VeryLightRedGradient: hsl(13, 100%, 72%);
$LightRedGradient: hsl(353, 100%, 62%);

$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);
